<%- include("header") -%>

<h2>About "Nirdesh Kumar Saini"</h2>

<p>
    My quest for solving problems encouraged me to pursue a professional course for my Master's but only, later on, I realized that the curriculum followed gave no leeway to students to look out for innovation.
<br>
<br> Someone said, "Forget Fear, Do Something Different." That's when I, with my friend decided to step out of our comfort zone and start our side hustle to inspire engineers and guide them in achieving overall development.
<br>
<br> Going to college for 7 hours and then working 4-5 hours on our side hustle was an amazing experience. This hustle shaped me in a way I could have never imagined.
<br>
<br> I have hands-on experience in Java & MERN Stack Web Development and also did certification courses from "Udemy". After learning these techs, I applied them to make personal projects and gaining more experience in the "Web Development" Domain.
<br>
<br> Also, I'm eager to learn new technologies and methodologies. Always willing to innovate new things that can improve the existing technology and passionate individual with intuitive problem-solving skills. 

</p>

<%- include("footer") -%>
